.cf_fhd {
  color: #2e3192;
  font-size: 20px;
}

.cf_ftHd {
  background: #eeeeee !important;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #e6e6e6;
  line-height: 42px;
  font-weight: 400;
}

#mobileStoreNSocialLinks {
  font-size: 14px;
}

/* #mobileStoreNSocialLinks > .store-links > a:last-child {
  margin-right: 10px;
} */

#mobileStoreNSocialLinks a > i::before {
  font-size: 22px;
  color: black;
}


#mobileStoreNSocialLinks a {
  text-decoration: none;
}

.bg-fb {
  filter: invert(34%) sepia(10%) saturate(3149%) hue-rotate(183deg) brightness(93%) contrast(88%);
}

.bg-twitter {
  filter: invert(61%) sepia(86%) saturate(1067%) hue-rotate(178deg) brightness(94%) contrast(97%);
}
.bg-linkedin {
  filter: invert(32%) sepia(95%) saturate(1090%) hue-rotate(173deg) brightness(91%) contrast(101%);
}
.white-filter {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(220deg) brightness(102%) contrast(105%);
}

.footer-links-container {
  background-color: #f6f6f6;
}

.footer-links-container ul > li {
  list-style: none;
}

.footer-links-container ul > li > a {
  text-decoration: none;
  color: #727272;
  font-size: 14px;
  font-weight: 300;
  font-family: arial;
}

.footer-links-container ul > li > a:hover {
  text-decoration: none;
  color: #2e3192;
}

.footer-links-container ul {
  margin-top: 0;
  margin-bottom: 1rem;
  margin: 0;
  padding: 0;
  /* border: 1px solid; */
}

.footer-links-container span {
  font-size: 17px;
  font-weight: 400;
}

.cf_rht {
  font-size: 13px;
}

.cf_rht a {
  text-decoration: none;
  color: #727272;
}

.crTos {
  background-color: #f6f6f6;
  font-size: 13px;
  color: #727272;
  padding: 10px 0 10px 0;
}